{% include 'comments.html' %}
</main>
{% include 'botnav.html' %}
<footer class="site-footer">
	<div class="container">
		<div class="footer">
			<p class="footer-p">
				© 2017 Brand All Rights Reserved.
			</p>
			<div class="footer-items">
				<a href="#" class="button footer-link"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="button footer-link"><i class="fab fa-twitter"></i></a>
				<a href="#" class="button footer-link"><i class="fab fa-linkedin-in"></i></a>
				<a href="#" class="button footer-link"><i class="fab fa-pinterest-p"></i></a>
				<a href="#" class="button footer-link"><i class="fab fa-google-plus-g"></i></a>
			</div>
		</div>
	</div>
</footer>
</div>
{% include 'scripts.html' %}
</body>

</html>