{% include 'header.html' %}

<section class="main-auth_section">
	<div class="container">
		<div class="auth_section row">
			<div class="auth_section-block col-12 col-lg-6 no-gutters">
				<h2 class="auth_section-title">Sign In</h2>
				<div class="auth_section-item">
					<p class="auth_section-description">
						Objectively transition extensive data rather than cross functional solutions. Monotonically syndicate
						multidisciplinary materials before go forward benefits..<br /><span>More details <a href='#'>on Terms &
								Condition</a></span>
					</p>
					<button class="btn mb-2 mb-md-4" id="sign_in-btn" type="submit">Continue</button>
				</div>
			</div>
			<div class="auth_section-block col-12 col-lg-6 no-gutters">
				<h2 class="auth_section-title">Sign Up</h2>
				<div class="auth_section-item">
					<p class="auth_section-description">
						Efficiently plagiarize 24/365 action items and focused intermediaries. Distinctively seize superior
						initiatives for wireless technologies. Dynamically optimize.<br /><span>More details <a href='#'>on Terms &
								Condition</a></span>
					</p>
					<button class="btn" id="sign_up-btn" type="submit">Continue</button>
				</div>
			</div>
		</div>
	</div>
</section>

{% include 'footer.html' %}