<section class="popBlock" id="sign_in-popupElement">
	<div class="formBlock">

		<div>
			<div class="closeBtn">
				<img id="closeBtn" class="closeBtn-img" src="assets/img/icons/button/close-button.png" alt="close">
			</div>
		</div>
		<div class="formBlock-title">
			<h1>{{ title }}</h1>
			<span class="required_notification">* Denotes Required Field</span>
		</div>

		<div>
			<form class="auth_form" method="post">
				<div class="form-group auth_form-item">
					<label class="checkout_label" for="login">Login</label>
					<input class="checkout_input" name="login" type="text" id="login" placeholder="Enter login" required>
				</div>

				<div class="form-group auth_form-item">
					<label class="checkout_label" for="password">Password</label>
					<input class="checkout_input" name="password" type="password" id="password" placeholder="Password" required>
				</div>

				<div class="form-group form-check">
					<input class="form-check-input" name="remember" type="checkbox" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Remember me</label>
				</div>

				<button type="submit" name="login_user" id="checkout_registr_submit"
					class="btn auth_form-button">Continue</button>
			</form>
		</div>

	</div>
</section>